<%= form_for(stock) do |f| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= stock.symbol %>


<%= stock.price %>
  <%= f.hidden_field(:symbol, :value => stock.symbol) %>
  <%= f.hidden_field(:price, :value => stock.price) %>

  <div class="field">
    <%= f.label :shares %>
    <%= f.number_field :shares %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
