<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Purchased Price</th>
      <th>Shares</th>
      <th>Current Price</th>
      <th>Current Value</th>
      <th>P/L</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each_with_index do |stock,index| %>
      <tr>
        <td><%= stock.symbol %></td>
        <td>$<%= stock.purchased_price %></td>
        <td><%= stock.shares %></td>
        <td>$<%= @current_prices[index] %></td>
        <td>$<%= stock[3].to_f * stock[2].to_f %></td>
        <td>$<%= (@current_prices[index] * stock.shares) - stock.purchased_price %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
